.subTitle {
    text-align: left;
    margin-left: 16px;
    
}

.bottom {
    display: flex;
    align-items: center;
    margin: 10px;
    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid rgb(167, 167, 244);
      cursor: pointer;
      margin: 5px;
      &:nth-child(1) {
        background-color: whitesmoke;
      }
      &:nth-child(2) {
        background-color: #333;
      }
    }
  }