.sidebar {
  flex: 1;
  border-right: 0.5px solid lightcoral;
  min-height: 100vh;
  background-color: aliceblue;
  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      font-size: 20px;
      font-weight: bold;
      color: purple;
    }
  }
  hr {
    height: 0;
    border: 0.5px solid rgb(227, 11, 11);
  }
  .center {
    padding-left: 50px;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      .title {
        font-size: 20px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }
      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        &:hover {
          background-color: rgb(246, 218, 246);
        }
        .icons {
          font-size: 25px;
          color: rgb(2, 2, 72);
        }
        span {
          font-size: 15px;
          font-weight: 600px;
          color: #888;
          margin-left: 10px;
        }
      }
    }
  }
}
